@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-clr: #1d2833;
  --highlight-clr: #89b927;
  --hr-clr: #0eb154;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}
